<div class="crea">
    <h1>définir origine</h1>
    <div class="crea_origine">
        <form action="" method="POST">
            <input type="text" name="origine">
            <input type="submit">
        </form>
    </div>
</div>
<div class="crea">
    <h1>définir couleur</h1>
    <div class="crea_couleur">
        <form action="" method="POST">
            <input type="text" name="couleur">
            <input type="submit"></form>
    </div>
</div>
<div class="crea">
    <h1>définir moteur</h1>
    <div class="crea_moteur">
        <form action="" method="POST">
            <input type="text" name="moteur">
            <input type="submit">
        </form>
    </div>
</div>
<div class="crea">
    <h1>créer une marque</h1>
    <div class="crea_marque">
        <form action="" method="POST">
            <input type="text"nom="marque">
            <input type="text" name="marque">
            <input type="submit">
        </form>
    </div>
</div>